body {
  margin:0;
  background:#020617;
  color:#e5e7eb;
  font-family:Inter, sans-serif;
}

.navbar {
  display:flex;
  justify-content:space-between;
  padding:16px 32px;
  background:#020617;
  border-bottom:1px solid #1e293b;
}

.navbar a {
  color:#38bdf8;
  margin-left:16px;
  text-decoration:none;
}

.container {
  max-width:1100px;
  margin:40px auto;
}

.card {
  background:#020617;
  border:1px solid #1e293b;
  border-radius:16px;
  padding:24px;
  margin-bottom:24px;
}

.small { max-width:400px; margin:auto; }

.input {
  width:100%;
  padding:12px;
  margin:8px 0;
  background:#020617;
  border:1px solid #334155;
  color:white;
  border-radius:10px;
}

.btn {
  display:inline-block;
  margin-top:10px;
  background:#38bdf8;
  color:black;
  padding:10px 18px;
  border-radius:12px;
  border:none;
  cursor:pointer;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(250px,1fr));
  gap:20px;
}

.scoreboard li {
  display:flex;
  justify-content:space-between;
  padding:10px 0;
  border-bottom:1px solid #1e293b;
}

.admin-link {
  display:inline-block;
  margin-top:20px;
  color:#facc15;
}

img.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}